<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_tag(edit_user_path, :method=>'GET') do %>
			<%= render 'shared/error_messages' %>

			<%= label_tag "name" %>
			<%= text_field_tag "name" %>

			<%= label_tag "email" %>
			<%= text_field_tag "email" %>

			<%= label_tag "password" %>
			<%= password_field_tag "password" %>

			<%= label_tag "password_confirmation", "Confirm password" %>
			<%= password_field_tag "password_confirmation" %>

			<%= submit_tag "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>

		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails">change</a>
	</div>
</div>
